@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: black;    
}

#agenda {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: white;
    padding: 18px;
    border-radius: 8px;
    width: 430px;
}

#agenda h1 {
    color: black;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
}

#agenda form {
    text-align: center;
}

#contatos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    max-height: 400px;
    overflow: auto;
    justify-content: center;
}

.contatos {
    display: flex;
    border-radius: 10px;
    border: 1px solid black;
   padding: 8px 12px;
   justify-content: space-between;
   gap: 10px;
}

.categorias{
     background-color: rgb(228 240 245);
     color: red;
}

#agenda thead {
 background-color: rgb(228 240 245);
     color: red;
}